h2 #{expense.description}

p #[strong Description:] #{expense.description}
p #[strong Amount:] R#{expense.amount}
p #[strong Date:] #{expense.date}

div.actions
  form(method='POST', action=`/delete/${expense.id}?_method=DELETE`)
    button(
      type='submit',
      hx-delete=`/delete/${expense.id}`,
      hx-target='#sidebar',
      hx-push-url='/expenses'
      class='btn-delete'
    ) Delete Expense
  br
  button(
    href=`/expenses/${expense.id}/edit`,
    hx-get=`/expenses/${expense.id}/edit`,
    hx-push-url='true',
    hx-target='#content',
    class='btn-edit'
  ) Edit Expense
